@import "tailwindcss";
/* 
from index.html
*/
body {
    font-family: sans-serif;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    margin: 10px;
    text-align: center;
  }

  .card img {
    width: 150px;
  }

  .reversed {
    transform: rotate(180deg);
  }

  textarea {
    width: 100%;
    height: 100px;
  }
  /* end from index.html */
